{% extends 'base.html.twig' %}

{% block title %}Edit WeatherHistory{% endblock %}

{% block body %}
    <h1>Edit WeatherHistory</h1>

    {{ include('weather_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_weather_history_index') }}">back to list</a>

    {{ include('weather_history/_delete_form.html.twig') }}
{% endblock %}
